.container {
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #005864;


}

.column {
    font-weight: 300;
    color: white;
}