.container {
  height:50px;
  background-color: #005864;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
    list-style-type: none;
    color: rgb(243, 242, 242);
    font-weight: 600;
    text-align: center;
}

ul {
    padding: 0;
    text-transform: uppercase;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}