<div mat-dialog-content class="container">
  <ul>
    <li>You get eight guesses, try any current NBA player!</li>
    <li><span class="green">Green in a any column</span> indicates a match!</li>
    <li>
      <span class="yellow">Yellow in any column</span> indicates this attribute
      is within 2 (inches, years,numbers) of the mystery player
    </li>
    <li>If you get stuck, try enabling <strong>silhouette mode!</strong></li>
    <li></li>
    <li>You can play as many times as you want!</li>
  </ul>
</div>
