.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.container-sm {
  background-color: rgb(189, 189, 189);
}

.almostRight {
  background-color: bisque;
}

.right {
  background-color: green;
}
